fastapi==0.111.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.31
asyncmy==0.2.9
cryptography==42.0.8
pydantic==2.8.2
pydantic-settings==2.5.2
redis==5.0.7
aiokafka==0.10.0
python-dotenv==1.0.1
itsdangerous==2.2.0
